@model BitirmeProjesiErp.Models.Teklif

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Teklif</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._key_prj_proje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._key_prj_proje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._key_satiselemanlari)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._key_satiselemanlari)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._key_scf_carikart_adresleri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._key_scf_carikart_adresleri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._key_scf_carikart_yetkili)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._key_scf_carikart_yetkili)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._key_scf_odeme_plani)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._key_scf_odeme_plani)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._key_sis_doviz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._key_sis_doviz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._key_sis_doviz_raporlama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._key_sis_doviz_raporlama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._key_sis_sube_source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._key_sis_sube_source)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aciklama1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aciklama1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aciklama2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aciklama2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aciklama3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aciklama3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bagkur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bagkur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bagkurdvz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bagkurdvz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bagkuryuzde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bagkuryuzde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.borsa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.borsa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.borsadvz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.borsadvz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fisno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fisno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.belgeno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.belgeno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dovizkuru)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dovizkuru)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dovizturu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dovizturu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ekalan1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ekalan1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ekalan2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ekalan2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ekalan3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ekalan3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ekalan4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ekalan4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ekalan5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ekalan5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ekalan6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ekalan6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.raporlamadovizkuru)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.raporlamadovizkuru)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.saat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.saat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teslimattarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teslimattarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sevkadresi1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sevkadresi1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sevkadresi2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sevkadresi2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sevkadresi3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sevkadresi3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.toplam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.toplam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.toplamdvz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.toplamdvz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.toplamara)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.toplamara)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.toplamaradvz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.toplamaradvz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.toplamindirim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.toplamindirim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.toplamindirimdvz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.toplamindirimdvz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.toplamkdv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.toplamkdv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.toplamkdvdvz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.toplamkdvdvz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.toplamkdvtevkifati)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.toplamkdvtevkifati)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.toplamkdvtevkifatidvz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.toplamkdvtevkifatidvz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.toplammasraf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.toplammasraf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.toplammasrafdvz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.toplammasrafdvz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.toplamov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.toplamov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.toplamovdvz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.toplamovdvz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.turu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.turu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.onay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.onay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.odemeplaniaciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.odemeplaniaciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.odemeplanikodu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.odemeplanikodu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CariKart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CariKart._key)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aktarildi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aktarildi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.diakey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.diakey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.diafisno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.diafisno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._key_rpr_dinamik_raporparametreleri_getirs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._key_rpr_dinamik_raporparametreleri_getirs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model._key">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
